.result {
    display: flex;
    margin:50px;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.tableResult { 
    background-color: lightgrey;
}

th,td {
    text-align: center;
}


.message {
    margin: 59px;
    display: flex;
    justify-content: center;
    color: salmon;
}