.result {
    display: flex;
    margin:50px;
    padding: 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

table { 
    background-color: lightgrey;
    min-width: 1000px;
    max-width: 1000px;
}

th,td {
    text-align: center;
    padding: 20px;
}

.message {
    margin: 59px;
    display: flex;
    justify-content: center;
    color: salmon;
}